* {
    box-sizing: border-box;
}

body {
   height: 100vh;
   width: 100vw;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.button-container {
  display: flex;
}

.button {
    
    margin-top: 1em;
    font-size: 2.75vmin;
    background-color: skyblue;
    color: blue;
    padding: .25em 1em;
    position: relative;
    border: 0;
    border-radius: 0.5em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

/* Start Screen */

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.start-welcome {
    font-size: 6vh
}

.start-title {
    font-size: 8vh;
}

.start-message {
    font-size: 4vh;
}

#start-button {
    display: block;
    font-size: 4vh;
    background-color: white;
    color: black;
}

#start-button:hover {
    background-color: black;
    color: white;
}

/* Other screens */

.victory-screen {
    display: none;
}

.game-over-screen {
    display: none;
}

.game-completion-screen {
    display: none;
}

/* Battle Screen */

.battle-screen-container {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.combatant-screen-container {
    display: grid;
    height: 70vh;
    width: 100vw;
    grid-template-areas: 
    "enemyHealthBar enemyImage"
    "playerImage enemyImage"
    "playerImage playerHealthBar";
    background-image: url("https://static9.depositphotos.com/1550726/1156/i/450/depositphotos_11560376-stock-photo-fantasy-autumn-forest-with-fog.jpg");
    background-size: cover;

}

#enemy-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: enemyImage;
    width: 50vw;
    animation: moveInRight 1s ease-out;
}

#player-image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: playerImage;
    width: 50vw;
    animation: moveInLeft 1s ease-out;
}

#enemy-image {
    height: 50vmin;
}

#player-image {
    height: 50vmin;
}

#sleep-enemy-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vmin;
    left: 34vmin;
    bottom: 18vmin;
}

#sleep-image-enemy {
  display: none;
  height: 10vmin;
  position: absolute;
}

#enemy-speaking-container {
  position: relative;
  height: 30vmin;
  bottom: 10vmin;
  left: 3vmin;
}

#speaking-animation-enemy {
    display: none;
    height: 10vmin;
    position: absolute;
    animation: enlargeSlowly 2s ease-out;
}

#enemy-charging-container {
    position: relative;
    height: 1vmin;
    right: 30vmin;
    bottom: 54vmin;
    border: 2px solid red;
}

#charging-animation-enemy {
    display: none;
    height: 120vmin;
    position: absolute;
    animation: shrinkSlowly 2s ease-out;
}

#enemy1-canteen-container {
    position: relative;
    height: 1vmin;
    bottom: 20vmin;
    left: 5vmin;
}

#canteen-animation-enemy {
    display: none;
    height: 5vmin;
    position: absolute;
    animation: smallWiggle 2s ease-out;
}

#sleep-player-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vmin;
    left: 35vmin;
    bottom: 16vmin;
}

#sleep-image-player {
    display: none;
    height: 10vmin;
    position: absolute;
}

#noise-player-container {
    height: 30vmin;
    position: relative;
    left: 20vmin;
    bottom: 11vmin;
}

#noise-animation-player {
  display: none;
  height: 30vmin;
  position: absolute;
}

#player-floating-hearts-container {
  height: 30vmin;
  position: relative;
  left: 31vmin;
  bottom: 10vmin;
}

#hearts-animation-player {
  display: none;
  height: 20vmin;
  position: absolute;
  animation: flowTowardsEnemy 2s linear;
}

.sleep-animate {
    animation: sleepEffect 2s ease-out;
  }

.take-hit {
    animation: takeHit 2s ease-out;
}

.player-physical-attack {
    animation: playerPhysicalAttack 1s ease-out;
}

.enemy-physical-attack {
    animation: enemyPhysicalAttack 1s ease-out;
}

#health-container-enemy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vmin;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    grid-area: enemyHealthBar;
    width: 50vw;
}

#health-container-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    color: white;
    font-size: 4vmin;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    grid-area: playerHealthBar;
    width: 50vw;
}

#enemy-name {
  margin-bottom: 1vh;
}

#enemy-healthbar {
  margin-top: 1vh;
}

/* use media query for font */



#player-name {
    margin-bottom: 1vh;
}

#player-healthbar {
    margin-top: 1vh;
}

/* Battle Messages */

.battle-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    font-size: 4vmin;
    background-color: beige;
    border: 10px groove pink;
    padding: 1em 2em;
 
    
}

.battle-message-text {
    margin: auto, auto;
}

/* Action Buttons */
/* RETURN HERE for responsiveness */

.action-buttons-container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 15vh;
    width: 100vw;
    gap: 4vw;
    border: 2px solid red;
    background-image: url("https://img.freepik.com/premium-vector/pastel-pink-white-paw-pattern-with-hearts-background_654662-3016.jpg");
}

.action-button {
  display: inline-block;
}

.action-command {
    font-weight: bold;

}

#next-move {
    display: none;
}


/* Add media query to stop font size from getting too small */

@keyframes moveInLeft {
    0% {
        transform: translateX(-15rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(15rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes playerPhysicalAttack {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes enemyPhysicalAttack {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes takeHit {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(1rem);
    }
    25% {
        transform: translateX(-1rem);
    }
    50% {
        transform: translateX(1rem);
    }
    70% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes sleepEffect {
    0% {
        height: 5vmin;
    }
    30% {
        height: 15vmin;
    }
    60% {
        height: 5vmin;
    }
    100% {
        height: 10vmin;
    }
}

@keyframes shrinkSlowly {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.75);
    }    
}

@keyframes enlargeSlowly {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2)
    }
}

@keyframes smallWiggle {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(8deg)
    }
    50% {
        transform: rotate(-8deg)
    }
    75% {
        transform: rotate(8deg)
    }
    100% {
        transform: rotate(-8deg)
    }
}

@keyframes flowTowardsEnemy {
    0% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        transform: translate3d(20vmin, -15vmin, 0)
      
    }
}