html {
    height: 100%;
    width: 100%;
    font-size: 10px;
    box-sizing: border-box;
}

body {
   margin: 0;
   height: 100%;
}

.start-screen {
    background-size: cover;
    text-align: center;
}

.game-over-screen {
    display: none;
}

.victory-screen {
    display: none;
}

.game-completion-screen {
    display: none;
}

.battle-screen-container {
    display: none;
    text-align: center;
    background-image: url("https://static9.depositphotos.com/1550726/1156/i/450/depositphotos_11560376-stock-photo-fantasy-autumn-forest-with-fog.jpg");
    background-size: cover;
    grid-template-areas: 
    "enemyHealthBar enemyPicture"
    "playerPicture playerHealthBar";
}

#enemy-image {
    height: 25em;
    grid-area: enemyPicture
}

#player-image {
    height: 25em;
    grid-area: playerPicture
}

#health-container-enemy {
    font-size: 1.5em;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    margin: auto auto;
    grid-area: enemyHealthBar
}

#health-container-player {
    font-size: 1.5em;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    margin: auto auto;
    grid-area: playerHealthBar
}

.battle-message-container {
    display: none;
    text-align: center;
    font-size: 1.25em;
    height: 10em;
    background-color: beige;
    border: 10px groove pink;
    border-left-style: none;
    border-right-style: none;
    
}

p {
    font-size: 2em;
}

.start-welcome {
    font-size: 6em;
}

.start-title {
    font-size: 10em;
}

.start-message {
    font-size: 4em;
}

.battle-message-text {
    margin: 2em auto;
}

.button-container {
    height: 30em;
    display: flex;
    justify-content: center;
    gap: 4em;
    
}

.button {
    max-height: 2em;
    display: inline-block;
    margin-top: 1em;
    font-size: 2.5em;
    background-color: skyblue;
    color: blue;
    padding: .25em 1em;
    position: relative;
    border: 0;
    border-radius: 0.5em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.action-buttons-container {
    display: none;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 4em;
    background-image: url("https://img.freepik.com/premium-vector/pastel-pink-white-paw-pattern-with-hearts-background_654662-3016.jpg");
}

.action-button {
    max-height: 3em;
    max-width: 9em;
    
}

.action-command {
    font-weight: bold;
    font-size: 1em;
}

.flow-buttons-container {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin-top: 2em;
}

#start-button {
    display: block;
    font-size: 4em;
    background-color: white;
    color: black;
}

#start-button:hover {
    background-color: black;
    color: white;
}

